.songs-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .songs-grid--quarter {
    width: 100% !important;
  }
  
  @media (min-width: 705px) {
    .songs-grid {
      width: 550px;
    }
  }
  
  @media (min-width: 960px) {
    .songs-grid {
      width: 765px;
    }
  }
  
  @media (min-width: 1215px) {
    .songs-grid {
      width: 1020px;
    }
  }
  
  @media (min-width: 1470px) {
    .songs-grid {
      width: 1275px;
    }
  
    .songs-grid--quarter {
      width: 100%;
    }
  }
  
  @media (min-width: 1725px) {
    .songs-grid {
      width: 1530px;
    }
  }
  
  @media (min-width: 1975px) {
    .songs-grid {
      width: 1785px;
    }
  }
  @media (max-width: 599px) {
    .songs-grid {
      justify-content: space-around;
    }
  }