.top-songs-and-artists {
  width: 85%;
  height: 100vh;
  background: var(--white-light);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
  box-shadow: 0 60px 80px 0 rgba(0, 0, 0, 0.1);
  margin-top: 60px;
  padding-bottom: 30px;
}

.top-songs-and-artists__header {
  font-size: 21px;
  margin-left: 10%;
  margin-top: 40px;
}

.top-songs-and-artists__line {
  width: 80%;
  margin-left: 10%;
  height: 2px;
  background: var(--white-dark);
}

.top-item__text {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
}

.top-item__title {
  font-size: 16px;
}

.top-item__subtitle {
  font-size: 12px;
}

.top-item {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
}

.top-item__icon-space {
  margin-top: 20px;
  margin-left: 5%;
  width: 20%;
}

.top-item__icon-ball {
  width: 64%;
  padding-top: 64%;
  position: relative;
  margin-left: 18%;
  background-color: var(--top-icon-bg);
  border-radius: 50%;
}

.top-item__icon-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.top-item__icon {
  position: absolute;
  top: 14%;
  left: 14%;
  width: 70%;
}

.top-item::after {
  position: absolute;
  bottom: -2px;
  left: 25%;
  display: block;
  content: '';
  float: left;
  width: 65%;
  height: 2px;
  background: var(--white-dark);
}

.top-item:last-of-type::after {
  content: none;
}

@media only screen and (max-width: 830px) {
  .top-songs-and-artists {
    width: 100%;
    padding: 10px 40px;
  }
}
