.artist-line {
  font-family: Montserrat;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: var(--artist-line__shadow);
}

.artist-line__section {
  box-sizing: border-box;
  background-image: var(--gray-gradient);
  padding: 0 30px;
  height: 180px;
  border-radius: 20px 20px 0 0;
  justify-content: space-evenly;
}

.artist-line__albums {
  padding: 0 15px;
  box-sizing: border-box;
  background-color: var(--white-light);
  border-radius: 0px 0px 20px 20px;
  width: 300px;
  overflow-y: scroll;
}

.artist-line__upper-line {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  color: var(--black);
}

.artist-line__semi-arrow {
  height: 1.5em;
  margin-left: 15px;
}

.artist-line__arrow {
  height: 1.3em;
  margin-left: 20px;
}

.artist-line__upper-line--spacer{
  margin-top: 25px;
  margin-bottom: 5px;
  padding: 0 20px
}

.artist-line__artist-icon {
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: var(--artist-line__icon-shadow);
}

.artist-line__buttons {
  position: relative;
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.artist-line__shuffle-button{
  width: 15px;
}

.artist-line__more-dot {
  top: 0;
  right: 10px;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: var(--gray);
}

.artist-line__more-dot::before, 
.artist-line__more-dot::after {
  border-radius: 50%;
  content: "";
  position: absolute;
  background-color: inherit;
  border-radius: inherit;
  font-size: 0;
  width: 3px;
  height: 3px;
}

.artist-line__more-dot::before {
  top: 7px;
}

.artist-line__more-dot::after {
  bottom: 7px;
}


.artist-line__tittle {
  font-size: 18px;
}
.artist-line__more-info {
  font-size: 12px;
}

.artist-line__see-more-button {
  display: flex;
  padding: 11px 15px;
  text-align: center;
  transition: 0.5s;
  color: var(--white);
  box-shadow: var(--artist-line__see-more-button-shadow);
  border-radius: 12px;
  font-size: 12px;
  background-image: var(--red-yellow-peach-gradient);
  background-position: right center;
}

.artist-line__see-more-button:hover {
  background-position: center;
}

.artist-line__discography {
  font-size: 18px;
}

.artist-line__see-all {
  font-size: 12px;
  color: var(--pink-darker);
  display: flex;
  align-items: center;
}

.artist-line__bottom-line {
  display: flex;
  flex-direction: row;
}

@media(min-width: 1200px){
    
  .artist-line {
    font-family: Montserrat;
    margin: 20px;
    height: 300px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: var(--artist-line__shadow);
  }

  .artist-line__section {
    box-sizing: border-box;
    background-image: var(--gray-gradient);
    padding: 0 30px;
    width: 280px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }


  .artist-line__albums {
    padding: 0 15px;
    box-sizing: border-box;
    background-color: var(--white-light);
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 730px;
  }



}