{
  "extends": "react-app",
  "rules": {
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "prefer-destructuring": [
      "error", 
      { 
        "object": true, 
        "array": false
      }
    ]
  }
}