{
  "extends": "react-app",
  "rules": {
    "no-console": [
      "error"
    ],
    "jsx-quotes": [
      "error",
      "prefer-double"
    ],
    "quotes": [
      "error",
      "single"
    ]
  }
}