.button-follow {
    width: 150px;
    height: 54px;
    color: white;
    font-size: 15px;
    border: 0;
    background-image: linear-gradient( 76deg, rgba(191, 10, 69, 0.9), rgba(228, 48, 93, 0.9) 63%, rgba(238, 115, 33, 0.9));
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 150px 80px;
}

.button-playlist {
    width: 82px;
    height: 84px;
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.25);
    border: solid 4px #666666;
    background-color: rgba(136, 136, 136, 0);
}