.button-follow {
    border: 0;
    height: 65px;
    background-image: var(--button-follow-background-image);
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 10px 25px;

    color: var(--button-follow-color);
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
}

.button-follow__icon {
    width: 24px;
    margin-right: 18px;
    vertical-align: middle;
}
