.artists-grid {
  display: flex;
  flex-wrap: wrap;
}

.artist-grid--centering {
  justify-content: center;
  margin-bottom: 100px;
}

@media (max-width: 599px) {
  .artists-grid {
    justify-content: center;
  }
}

@media (min-width: 705px) {
  .artists-grid {
    width: 550px;
  }
}

@media (min-width: 960px) {
  .artists-grid {
    width: 765px;
  }
}

@media (min-width: 1215px) {
  .artists-grid {
    width: 1020px;
  }
}

@media (min-width: 1470px) {
  .artists-grid {
    width: 1275px;
  }
}

@media (min-width: 1725px) {
  .artists-grid {
    width: 1530px;
  }
}

@media (min-width: 1975px) {
  .artists-grid {
    width: 1785px;
  }
}
