.grid--centering {
  display: flex;
  justify-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

@media (min-width: 705px) {
  .grid {
    width: 550px;
  }
}

@media (min-width: 960px) {
  .grid {
    width: 765px;
  }
}

@media (min-width: 1215px) {
  .grid {
    width: 1020px;
  }
}

@media (min-width: 1470px) {
  .grid {
    width: 1275px;
  }
}

@media (min-width: 1725px) {
  .grid {
    width: 1530px;
  }
}

@media (min-width: 1975px) {
  .grid {
    width: 1785px;
  }
}