.navigation__items {
    overflow: hidden;
    margin-left: 60px;
}

@media only screen and (max-width: 500px) {
    .navigation__items {
        margin-left: 0;
        overflow: auto;
        display: flex;
    }
}