  .album__cover {
    background-color: #353535;
    border-radius: 10px;
    box-shadow: var(--black-shadow);
  }

  .album__info {
    margin-top: 10px;
    width: 100%;
    position: relative;
    padding: 0 10px;
  }
  
  .album__text{
    width: 90%;
  }

  .album__text-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .album__text-singer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    color: var(--gray-text-color);
  }

  .album--big .album__cover {
    width: 230px;
    height: 230px;
}
  
  .album--small .album__cover {
    width: 100px;
    height: 100px;
  }

  .album.album--big {
    width: 230px;
    margin-top: 10px;
    margin-bottom: 40px;
  }

  .album--big .album__text-title {
    font-size: 18px;
  }
  .album--big .album__text-singer {
    font-size: 12px;
    font-weight: 600;
  }

  .album.album--small {
    width: 100px;
    margin: 10px;
  }

  .album--small .album__text-title {
    font-size: 14px;
  }
  .album--small .album__text-singer {
    font-size: 11px;
  }

  .album__options {
    top: 0;
    right: 10px;
    bottom: 0;
    margin: auto;
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--grey-color);
  }
  
  .album__options::before, 
  .album__options::after {
    border-radius: 50%;
    content: "";
    position: absolute;
    background-color: inherit;
    border-radius: inherit;
    font-size: 0;
    width: 3px;
    height: 3px;
  }
  
  .album__options::before {
    top: 7px;
  }
  
  .album__options::after {
    bottom: 7px;
  }
  