  .album {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 190px;
  }
  
  .album__cover {
    background-color: #353535;
    border-radius: 10px;
    box-shadow: var(--black-shadow);
  }
  
  .album__cover--big {
    width: 180px;
    height: 180px;
  }
  
  .album__info {
    margin-top: 10px;
  }

  
  .album__text {
    padding-left: 10px;
  }
  
  .album__text-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .album__text-singer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
    color: var(--gray-text-color);
  }

  .album__cover--big .album__info {
    width: 180px;
  }

  .album__cover--big .text__title {
    font-size: 18px;
  }
  .album__cover--big .text__singer {
    font-size: 12px;
  }