.hamburger-menu {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: var(--hamburger-background-color);
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  border: none;
}

@media (max-width: 600px) {
  .hamburger-menu {
    margin: 20px 15px;
  }
}

@media (min-width: 600px) {
  .hamburger-menu {
    display: none;
    margin: 10px;
  }
}

@media (max-width: 425px) {
  .hamburger-menu {
    margin: 7px;
  }
}
