.albums-grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.albums-grid--quarter {
  width: 100% !important;
}

@media (min-width: 705px) {
  .albums-grid {
    width: 550px;
  }
}

@media (min-width: 960px) {
  .albums-grid {
    width: 765px;
  }
}

@media (min-width: 1215px) {
  .albums-grid {
    width: 1020px;
  }
}

@media (min-width: 1570px) {
  .albums-grid {
    width: 1275px;
  }

  .albums-grid--quarter {
    width: 100%;
  }
}

@media (min-width: 1725px) {
  .albums-grid {
    width: 1530px;
  }
}

@media (min-width: 1975px) {
  .albums-grid {
    width: 1785px;
  }
}
@media (max-width: 599px) {
  .albums-grid {
    justify-content: space-around;
  }
}
