.search-results {
  width: 100%
}

.search-results__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-results__divider--vertical {
  width: 4px;
  height: 600px;
  background-color: var(--white-dark);
}

.search-results__divider--horizontal {
  margin-bottom: 30px;
  margin-top: 30px;
  width: 90%;
  height: 4px;
  background-color: var(--white-dark);
}

.search-results__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: 0.6px;
  color: var(--black);
  padding-left: 1%;
}