.settings {
  display: flex;
  flex-direction: row;
}

.settings-all {
  width: 40%;
  height: 65vh;
  background: var(--theme-settings-bg);
  box-shadow: var(--settings-shadow);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 15px;
  padding-bottom: 30px;
  margin-top: 20px;
  margin-bottom: 300px;
}

.settings-all__header {
  margin-left: 11%;
  margin-top: 40px;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.75;
  letter-spacing: 0.6px;
  color: var(--theme-text-title);
}

@media only screen and (max-width: 900px) {
  .settings {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .settings-all {
    width: 100%;
    margin-bottom: 10px;
  }
}