.settings {
  display: flex;
  flex-direction: row;
}

.settings-all {
    width: 40%;
    height: 120vh;
    background: var(--white-light);
    box-shadow: var(--settings-shadow);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 15px;;
    margin-top: 20px;
    padding-bottom: 30px;
  }
  
  .settings-all__header {
    margin-left: 11%;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 900;
    line-height: 1.75;
    letter-spacing: 0.6px;
    color: var(--black);
  }
  
  @media only screen and (max-width: 768px) {
    .settings {
      width: 100%;
      padding: 10px 40px;
    }
  }