.settings-item__text {
  margin-bottom: 10px;
  margin-top: 20px;
  width: 70%;
}

.settings-item__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.38;
  letter-spacing: 2.6px;
  color: var(--black);
}

.settings-item {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-bottom: 10px;
}

.settings-item__icon-space {
  margin-top: 20px;
  margin-left: 5%;
  width: 20%;
}

.settings-item__icon-ball {
  background-color: rgba(212, 37, 98, 0.25);
  margin-left: 18%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: block;
  position: relative;
}

.settings-item__icon {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}