.card__cover {
  background-color: #353535;
  border-radius: 10px;
  box-shadow: var(--black-shadow);
  object-fit: cover;
}

.card__info {
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.card__options-click {
  width: 10px;
  height: 30px;
  top: 0;
  right: 10px;
  position: absolute;
}

.card__text {
  width: 90%;
}

.card__text-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__text-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 13px;
  color: var(--gray);
}

.card--big .card__cover {
  width: 230px;
  height: 230px;
}

.card--small .card__cover {
  width: 140px;
  height: 140px;
}

.card--quarter .card__info {
  margin-top: 15px;
}

.card--quarter .card__options {
  right: 22%;
}

.card--quarter .card__text {
  width: 70%;
}

.card--quarter {
  margin-bottom: 30px;
  margin-top: 10px;
  width: 50%;
}

.card--quarter .card__cover {
  width: 80%;
}

.card.card--big {
  width: 230px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 25px;
}

.card--big .card__text-title {
  font-size: 18px;
  font-weight: 600;
}

.card--big .card__text-subtitle {
  font-size: 12px;
  font-weight: 600;
}

.card.card--small {
  width: 140px;
  margin: 10px;
}

.card--small .card__text-title {
  font-size: 14px;
}

.card--small .card__text-subtitle {
  font-size: 11px;
}

.card__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 215px;
  margin-top: -10px;
}

.card__options{
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 500px) {
  .card--quarter {
    width: 35%;
    margin-bottom: 20px;
  }

  .card--quarter .card__cover {
    width: 100%;
  }
}