.card {
  position: relative;
}

.card__cover {
  background-color: #353535;
  border-radius: 10px;
  box-shadow: var(--black-shadow);
  object-fit: cover;
}

.card__play-button-image {
  width: 20%;
  margin-left: -7%;
  left: 50%;
  position: absolute;
  margin-top: -14%;
  top: 50%;
}

.card__play-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28%;
  height: 28%;
  background-color: var(--pink-darker);
  border-radius: 50%;
}

.card__cover--overlay {
  display: none;
}

.card__cover--overlay:hover,
.card__cover:hover + .card__cover--overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--album-overlay);
  border: 3px solid var(--pink-darker);
  cursor: pointer;
}

.card__info {
  margin-top: 10px;
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.card__options-click {
  width: 10px;
  height: 30px;
  top: 0;
  right: 10px;
  position: absolute;
}

.card__options {
  width: 15px;
  height: 15px;
}

.card__text {
  width: 90%;
}

.card__theme-text-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--theme-text-title);
}

.card__theme-text-subtitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 13px;
  color: var(--theme-text-subtitle);
}

.card__options {
  width: 15px;
  height: 15px;
}

.card--big .card__cover {
  width: 230px;
  height: 230px;
}

.card--small .card__cover {
  width: 140px;
  height: 140px;
}

.card--quarter .card__info {
  margin-top: 15px;
}

.card--quarter .card__options {
  right: 22%;
}

.card--quarter {
  margin-bottom: 30px;
  margin-top: 10px;
  width: 40%;
  margin: 5%;
}

.card--quarter .card__cover {
  width: 100%;
  height: 80%;
}

.card__cover--no-picture {
  width: 100%;
  padding-top: 100%;
}

.card.card--big {
  width: 230px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 25px;
}

.card--big .card__theme-text-title {
  font-size: 18px;
  font-weight: 600;
}

.card--big .card__theme-text-subtitle {
  font-size: 12px;
  font-weight: 600;
}

.card.card--small {
  width: 140px;
  margin: 10px;
}

.card--small .card__theme-text-title {
  font-size: 14px;
}

.card--small .card__theme-text-subtitle {
  font-size: 11px;
}

.card__subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 115%;
  margin-top: -10px;
}

@media only screen and (max-width: 500px) {
  .card--quarter {
    width: 35%;
    margin-bottom: 20px;
  }

  .card--quarter .card__cover {
    width: 100%;
  }
}
