.discover {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}           
    
.discover__top {
  display: flex;
  justify-content: center;
}

.discover__divider {
  margin: 50px 0 30px 60px;
  width: 90%;
  height: 4px;
  background-color: var(--white-dark);
}

@media(min-width: 768px){
  .discover {
    flex-direction: row;
  }           
      
  .discover__top {
    width: 33%;
  }
}

@media only screen and (max-width: 500px) {
  .discover__divider {
    margin-left: 15px;
    margin-bottom: 20px;
  }
}

