.discover {
  display: flex;
  flex-direction: column;
}           
    
.discover__top {
  display: flex;
  justify-content: center;
}

@media(min-width: 768px){
  .discover {
    flex-direction: row;
  }           
      
  .discover__top {
    width: 33%;
  }
  
}