.header-line{
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 20px 35px;
    flex-direction: row;
    box-sizing: border-box;
}

.header-line__title{
    font-size: 28px;
    color: var(--black-text-color);
}

.header-line__subtitle{
    font-size: 14px;
    color: var(--gray-text-color);
    letter-spacing: 2.5px;
    margin-top: 10px;
    text-transform: uppercase;
}