.header-line {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 20px 35px;
  flex-direction: row;
  box-sizing: border-box;
}

.header-line__title {
  font-size: 28px;
  color: var(--black);
}

.header-line__subtitle {
  font-size: 16px;
  color: var(--gray);
  letter-spacing: 2.5px;
  margin-top: 10px;
  text-transform: uppercase;
}

.header-line__texts {
  max-width: 50%;
}

@media (max-width: 400px) {
  .header-line__title {
    font-size: 22px;
  }

  .header-line__subtitle {
    font-size: 12px;
  }

  .header-line__texts {
    width: 100%;
    margin-bottom: 10px;
  }

  .header-line {
    display: block;
  }
}
