.loading-bar {
  height: 5px;
  background-color: var(--loading-bar-bg);
  position: relative;
}

.loading-bar--carousel {
  margin-left: 7.7%;
  width: 76%;
}

.loading-bar--player {
  margin-left: 100px;
  width: calc(100% - 100px);
  position: fixed;
  bottom: 90px;
}

.loading-bar__inner {
  width: 100%;
  transition: 1s;
  height: 5px;
  position: absolute;
  background-image: var(--loading-bar-gradient);
}

@media only screen and (max-width: 786px) {
  .loading-bar {
    width: 100%;
    margin-left: 0;
  }
}