.loading-bar {
	width: 76%;
	height: 5px;
	margin-left: 7.7%;
	background-color: var(--loading-bar-bg);
	position: relative;
}

.loading-bar__inner {
	width: 100%;
	height: 5px;
	position: absolute;
	background-image: var(--loading-bar-gradient);
}

@media only screen and (max-width: 786px) {
	.loading-bar {
		width: 100%;
		margin-left: 0;
	}
}