.selected-icon {
  width: 2.5px;
  left: 74px;
  background-color: var(--pink-darkest);
}

.selected-icon__sidebar {
  position: absolute;
  top: 80%;
  margin-top: -55px;
  height: 75px;
}

.selected-icon__settings {
  height: 65px;
}

@media (max-width: 425px) {
  .selected-icon {
    width: 2px;
    left: 68px;
    margin-top: -49px;
    height: 68px;
  }
}