.button__listen {
    display: flex;
    border: 0;
    height: 60px;
    border-radius: 18px;
    padding: 0px 30px;
    margin-top: 25px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 3;
    color: var(--white);
    box-shadow: 0 40px 40px 0 var(--listen-to-shadows);
    background-image: var(--red-yellow-gradient-76deg)
}

.button__listen-circule {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 5px;
    position: relative;
    box-shadow: 0 10px 20px 0 var(--listen-to-circule-shadow);
    background-color: var(--white-lighter);
}

.button__listen-triangle {
    width: 30%;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

@media only screen and (max-width: 425px) {
    .button__listen {
        height: 45px;
        border-radius: 12px;
        padding: 0px 25px;
        margin-top: 25px;
        line-height: 2.5;
    }

    .button__listen-circule {
        height: 30px;
        width: 30px;
        margin-top: 6px;
        margin-left: 20px;
    }
}