.button__listen {
    display: flex;
    border: 0;
    height: 60px;
    border-radius: 18px;
    padding: 0px 30px;
    margin-top: 25px;
    font-size: 17px;
    letter-spacing: 2px;
    line-height: 3;
    color: #eeeeee;
    box-shadow: 0 40px 40px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(76deg, rgba(191, 10, 69, 0.9), rgba(228, 48, 93, 0.9) 63%, rgba(238, 115, 33, 0.9));
}

.button__listen-circule {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: 5px;
    position: relative;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffff;
}

.button__listen-triangle {
    width: 30%;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}