
.button-playlist {
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.25);
    border: solid 4px #818181;
    background-color: rgba(136, 136, 136, 0);
    padding: 25px 22px;
    border-radius: 20px;
    outline: none;
    margin-left: 28px;
}

.button-playlist__icon{
    width: 30px;
    vertical-align: middle;
}