.carousel {
    position: relative;
    height: 700px;
    background-size: cover;
    background-position: top;
    padding-left: 96px;
}

.carousel__image {
    height: 600px;
    width: 1402px;
    background-image: linear-gradient(to bottom, rgba(51, 51, 51, 0), rgba(51, 51, 51, 0)), linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    
}

.carousel__wrap {
    display: flex;
    float: right;
}

.carousel__arrow--right,
.carousel__arrow--left {
    width: 25px;
    height: 29px;
}

.carousel__arrow--right {
    margin: 40px 70px 30px 50px;
}

.carousel__arrow--left{
    margin: 40px 50px 30px 0;
}