:root {
    --related-artists-color: #eeeeee;
}

.related-artists {
    position: absolute;
    right: 0px;
    margin-top: 300px;
    margin-right: 40px;
}

.related-artists__text {
    margin: 15px;
    font-size: 13px;
    color: var(--related-artists-color);
    font-weight: 600;
    font-stretch: normal;
    letter-spacing: 5px;
    text-align: right;
}

.related-artists__line {
    width: 600px;
    height: 4px;
    background-color: rgba(238, 238, 238, 0.25);
}

.related-artists__wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px
}