.sidebar {
  margin-top: var(--header-height);
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: var(--music-player-height);
  width: 100px;
  height: calc(100% - calc(var(--music-player-height) + var(--header-height)));
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  background-color: var(--black-darkest);
}

.sidebar__screen {
  position: absolute;
  top: 0;
  width: calc(100% - 100px);
  left: 100px;
  height: 200vh;
  z-index: 3;
}

.sidebar__screen--collapsed {
  position: fixed;
  top: 0;
  left: -100%;
}

.sidebar__screen--show {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar--collapsed {
  position: fixed;
  top: 0;
  left: -260px;
}

.sidebar--show {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar__header {
  margin: auto;
  color: var(--white-lightest);
  text-align: center;
  font-size: 30px;
  border-bottom: 1px var(--white-lightest) solid;
  width: 80%;
  padding: 25px;
}

@media (min-width: 600px) {
  .sidebar--collapsed,
  .sidebar--show {
    top: 0;
    left: 0;
  }

  .sidebar {
    margin-top: var(--header-height-medium);
    height: calc(100% - calc(var(--music-player-height) + var(--header-height-medium)));
  }
}

@media (max-width: 600px) {
  .sidebar {
    margin-top: var(--header-height-small);
    height: calc(100% - calc(var(--music-player-height) + var(--header-height-small)));
  }
}

@media (max-width: 425px) {
  .sidebar {
    margin-top: 60px;
    transition: 1s;
    padding-bottom: 50px;
    height: calc(100% - calc(var(--music-player-height) + var(--header-height-tiny)));
    padding-top: 30px;
  }
}
