.sidebar {
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-bottom: 100px;
  width: 100px;
  height: calc(100% - 190px);
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  flex-direction: column;
  background-color: var(--black-darkest);
}

.sidebar__screen {
  position: absolute;
  top: 0;
  width: calc(100% - 100px);
  left: 100px;
  height: 200vh;
  z-index: 3;
}

.sidebar__screen--collapsed {
  position: fixed;
  top: 0;
  left: -100%;
}

.sidebar__screen--show {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar--collapsed {
  position: fixed;
  top: 0;
  left: -260px;
}

.sidebar--show {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar__header {
  margin: auto;
  color: var(--white-lightest);
  text-align: center;
  font-size: 30px;
  border-bottom: 1px var(--white-lightest) solid;
  width: 80%;
  padding: 25px;
}

@media (min-width: 600px) {
  .sidebar--collapsed,
  .sidebar--show {
    top: 0;
    left: 0;
  }

  .sidebar {
    margin-top: 80px;
    height: calc(100% - 180px);
  }
}

@media (max-width: 595px) {
  .sidebar {
    margin-top: 80px;
    height: calc(100% - 170px);
  }
}

@media (max-width: 425px) {
  .sidebar {
    margin-top: 60px;
    transition: 1s;
    padding-bottom: 50px;
    height: 50%;
    padding-top: 30px;
  }
}
