.sidebar {
  padding-top: 120px;
  padding-bottom: 100px;
  width: 100px;
  height: 100%;
  align-items: center;
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
  flex-direction: column;
  background-color: var(--black-darkest);
}

.sidebar__screen {
  position: absolute;
  top: 0;
  width: 100%;
  height: 200vh;
  z-index: 2;
}

.sidebar__screen--collapsed {
  position: fixed;
  top: 0;
  left: -100%;
}

.sidebar__screen--show {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar--collapsed {
  position: fixed;
  top: 0;
  left: -260px;
}

.sidebar--show {
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar__header {
  margin: auto;
  color: var(--white-lighter);
  text-align: center;
  font-size: 30px;
  border-bottom: 1px var(--white-lighter) solid;
  width: 80%;
  padding: 25px
}

@media (min-width: 600px) {
  .sidebar--collapsed {
    top: 0;
    left: 0;
  }

  .sidebar--show {
    top: 0;
    left: 0;
  }
}

@media (max-width: 425px) {
  .sidebar {
    padding-top: 80px;
    margin-top: 0;
    transition: 1s;
    padding-bottom: 50px;
  }
}
