.button-playlist {
    box-shadow: var(--button-playlist-shadow);
    border: solid 4px var(--grey-dark);
    background-color: var(--button-playlist-bg);
    padding: 15px 18px;
    border-radius: 21px;
    margin-left: 28px;
}

.button-playlist__icon {
    width: 25px;
    vertical-align: middle;
}

@media only screen and (max-width: 500px) {
    .button-playlist {
        padding: 1px 9px;
        border: solid 2px var(--grey-dark);
        border-radius: 10px;
        margin-left: 14px;
    }
    
    .button-playlist__icon {
        width: 20px;
    }
}