.button-playlist {
    box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.25);
    border: solid 4px #707070;
    background-color: var(--button-playlist-background-color);
    padding: 15px 18px;
    border-radius: 21px;
    margin-left: 28px;
}

.button-playlist__icon {
    width: 25px;
    vertical-align: middle;
}

@media only screen and (max-width: 500px) {
    .button-playlist {
        padding: 1px 9px;
        border: solid 2px #707070;
        border-radius: 10px;
        margin-left: 14px;
    }
    .button-playlist__icon {
        width: 20px;
    }
}