:root {
    --banner-artist-color:#eeeeee; 
}

.banner-artist {
    position: relative;
    height: 553px;
    background-image: linear-gradient(349deg, #000000, rgba(102, 102, 102, 0) 52%, #000000);
    background-color: rgba(0, 0, 0, .5);
    padding: 122px 80px 0;
    padding-top: 122px;
}

.banner-artist__title {
    font-size: 52px;
    line-height: 1.05;
    margin-bottom: 10px;
    color: var(--banner-artist-color);
}

.banner-artist__information {
    opacity: 0.75;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: var(--banner-artist-color);
    margin-bottom: 40px;
}

.banner-artist__buttons-wrapper {
    display: flex;
}