.appearance {
    width: 60%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 150px
}

.appearance__divider {
    margin: 5px 35px;
    height: 3px;
    background-color: var(--white-dark);
}