.player {
  height: 90px;
  width: 100%;
  background-color: var(--white-lighter);
  position: fixed;
  z-index: 10;
  top: calc(100% - 90px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.player__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -25%;
}

.prev-container__image,
.next-container__image {
  width: 15px;
  height: 15px;
}

.prev-container__image,
.next-container__image,
.pause-container__image,
.playlist-icon__image,
.volume-container__image {
  margin: auto;
}

.pause-container__image {
  width: 20px;
  height: 20px;
}

.buttons__prev-container,
.buttons__pause-container,
.buttons__next-container,
.container__playlist-icon,
.player__volume-container {
  background-image: var(--player-buttons-gradient);
  display: flex;
  box-shadow: 0 40px 30px 0 rgba(0, 0, 0, 0.25);
}

.buttons__prev-container,
.buttons__pause-container,
.buttons__next-container,
.container__playlist-icon,
.player__volume-container,
.buttons__prev,
.buttons__pause,
.player__volume,
.buttons__next,
.container__button,
.player__volume {
  border-radius: 50%;
}

.buttons__pause {
  margin-right: 20px;
  margin-left: 20px;
}

.buttons__prev-container,
.buttons__next-container {
  width: 50px;
  height: 50px;
}

.buttons__pause-container {
  width: 70px;
  height: 70px;
}

.playlist-icon__image,
.volume-container__image {
  width: 20px;
  height: 20px;
}

.container__playlist-icon,
.player__volume-container {
  width: 55px;
  height: 55px;
}
.container__button {
  margin-left: 20px;
}

.player__volume {
  margin-right: 20px;
}

.music-info__name,
.music-info__name {
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
}

.music-info__name {
  font-size: 16px;
}

.music-info__band {
  font-size: 12px;
  color: var(--gray);
  text-transform: uppercase;
  margin-top: 2px;
}

.player__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playlist-icon__music-info {
  width: 200px;
  margin-left: 30px;
}

.tippy-popper {
  margin-top: 150px !important;
}

@media (max-width: 650px) {
  .playlist-icon__music-info {
    display: none;
  }

  .player__container {
    flex-direction: column;
    align-items: initial;
  }

  .player__buttons {
    margin-left: 0;
  }

  .buttons__pause-container {
    width: 60px;
    height: 60px;
  }

  .buttons__pause {
    margin-left: 5px;
    margin-right: 5px;
  }

  .prev-container__image,
  .next-container__image {
    width: 10px;
    height: 10px;
  }

  .buttons__prev-container,
  .buttons__next-container {
    width: 40px;
    height: 40px;
  }

  .container__button {
    margin-left: 10px;
  }

  .container__playlist-icon,
  .player__volume-container {
    width: 45px;
    height: 45px;
  }

  .playlist-icon__image,
  .volume-container__image,
  .pause-container__image {
    width: 15px;
    height: 15px;
  }

  .player__volume {
    margin-right: 10px;
  }
}
