@font-face {
    font-family: "Montserrat";
    src: url("./assets/Montserrat-Regular.otf");
    margin:0;
    letter-spacing: 2px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
  font-family: "Montserrat", sans-serif,Arial, Helvetica;
}

.container {
  padding-left: 100px;
}

@media (max-width: 425px) {
  .container {
    padding-left: 0;
  }
}
