:root {
  --red-yellow-peach-gradient: linear-gradient(
      76deg,
      rgba(191, 10, 69, 0.9),
      rgba(228, 48, 93, 0.9) 63%,
      rgba(238, 115, 33, 0.9)
    ),
    linear-gradient(to bottom, #d42562, #d42562);

  --banner-artist-background-color: linear-gradient(
    rgba(0, 0, 0, 0.85),
    rgba(0, 0, 0, 0.1)
  );

  --banner-artist-background-image: linear-gradient(
    349deg,
    #000,
    rgba(102, 102, 102, 0) 52%,
    #000
  );

  --orange-pink-gradient: linear-gradient(to right, #ee7321, #e4305d, #bf0a45);

  --red-yellow-gradient: linear-gradient(
    25deg,
    rgba(191, 10, 69, 0.9),
    rgba(228, 48, 93, 0.9),
    rgba(238, 115, 33, 0.9)
  );

  --gray-gradient: linear-gradient(
      25deg,
      rgba(221, 221, 221, 0),
      rgba(221, 221, 221, 0.5)
    ),
    linear-gradient(to bottom, rgba(48, 48, 48, 0), rgba(48, 48, 48, 0));

  --dark-gray-gradient: linear-gradient(
      25deg,
      rgba(30, 30, 30, 0.1),
      rgba(30, 30, 30, 0.1)
    ),
    linear-gradient(to bottom, rgba(48, 48, 48, 1), rgba(48, 48, 48, 1));

  --white-gray-gradient: linear-gradient(to bottom, #fff, #f0f0f0);

  --light-gray-gradient: linear-gradient(to bottom, #ccc, #c0c0c0);

  --switch-gradient: linear-gradient(
      to left,
      rgba(191, 10, 69, 0.9),
      rgba(228, 48, 93, 0.9) 63%,
      rgba(238, 115, 33, 0.9)
    ),
    linear-gradient(to bottom, #d42562, #d42562);

  --carousel-black-gradient: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 0),
      rgba(51, 51, 51, 0)
    ),
    linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

  --red-yellow-gradient-76deg: linear-gradient(
    76deg,
    rgba(191, 10, 69, 0.9),
    rgba(228, 48, 93, 0.9) 63%,
    rgba(238, 115, 33, 0.9)
  );

  --loading-bar-gradient: linear-gradient(
      to right,
      rgba(191, 10, 69, 0.9),
      rgba(228, 48, 93, 0.9) 63%,
      rgba(238, 115, 33, 0.9)
    ),
    linear-gradient(to bottom, #d42562, #d42562);

  --red-yellow-gradient-73deg: linear-gradient(
    73deg,
    rgba(191, 10, 69, 0.9),
    rgba(228, 48, 93, 0.9) 63%,
    rgba(238, 115, 33, 0.9)
  );

  --white-gray-gradient: linear-gradient(to bottom, #fff, #f0f0f0);

  --switch-gradient: linear-gradient(
      to left,
      rgba(191, 10, 69, 0.9),
      rgba(228, 48, 93, 0.9) 63%,
      rgba(238, 115, 33, 0.9)
    ),
    linear-gradient(to bottom, #d42562, #d42562);

  --carousel-black-gradient: linear-gradient(
      to bottom,
      rgba(51, 51, 51, 0),
      rgba(51, 51, 51, 0)
    ),
    linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

  --red-yellow-gradient-76deg: linear-gradient(
    76deg,
    rgba(191, 10, 69, 0.9),
    rgba(228, 48, 93, 0.9) 63%,
    rgba(238, 115, 33, 0.9)
  );

  --loading-bar-gradient: linear-gradient(
      to right,
      rgba(191, 10, 69, 0.9),
      rgba(228, 48, 93, 0.9) 63%,
      rgba(238, 115, 33, 0.9)
    ),
    linear-gradient(to bottom, #d42562, #d42562);

  --player-buttons-gradient: linear-gradient(
      to bottom,
      rgba(250, 250, 250, 0),
      var(--white-lightest)
    ),
    linear-gradient(to bottom, #fafafa, #fafafa);

  --player-buttons-gradient-dark: linear-gradient(
      45deg,
      rgba(34, 34, 34, 0),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(to bottom, #333333, #333333);

  --playlist-gradient: linear-gradient(
      to top,
      var(--white-light),
      rgba(250, 250, 250, 0.3)
    ),
    linear-gradient(to bottom, rgba(53, 53, 53, 0.07), rgba(53, 53, 53, 0.3));

  --playlist-gradient-dark: linear-gradient(
      to top,
      #3f3f3f,
      rgba(63, 63, 63, 1)
    ),
    linear-gradient(to bottom, rgba(53, 53, 53, 1), rgba(53, 53, 53, 1));
}
