:root {
  --black-darkest: #000;
  --black-darker: #232323;
  --black: #222;
  --black-lighter: #1e1e1e;
  --black-lightest: #353535;

  --metal-gray: #333;

  --gray-darkest: #444;
  --gray-darker: #666;
  --gray-dark: #707070;
  --gray: #888;
  --gray-light: #bbb;
  --gray-lighter: #aaa;

  --white-dark: #ddd;
  --white: #eee;
  --white-light: #fafafa;
  --white-lighter: #f2f2f2;
  --white-lightest: #fff;

  --pink-darkest: #cd2156;
  --pink-darker: #d42562;
  --pink-dark: #d42361;
  --pink: #d92c61;

  --peach-darker: #e13a56;
  --peach-dark: #e24352;
  --peach: #e24d4d;
  --peach-light: #e26659;
  --peach-ligther: #dc7252;
}

.dark-mode {
  --theme-page-bg: var(--black-lighter);
  --theme-header-bg: var(--black-darker);

  --theme-header-search-bg: var(--black-darker);
  --theme-player-bg: var(--black);
  --theme-artist-line-section-bg: var(--dark-gray-gradient);
  --theme-artist-line-albums-bg: var(--black-lightest);
  --theme-artist-line-corners-bg: var(--theme-artist-line-albums-bg);
  --theme-divider: var(--metal-gray);
  --theme-player-button-bg: var(--player-buttons-gradient-dark);
  --theme-playlist-bg: var(--playlist-gradient-dark);
  --theme-top-songs-artists-bg: var(--metal-gray);

  --theme-text-title: var(--white);
  --theme-text-subtitle: var(--gray);
  --theme-text-light: var(--gray-lighter);
  --theme-navigation-text-active: var(--black);
  --theme-search-border: var(--gray-darkest);
  --theme-top-songs-artists-divider: var(--gray-darkest);
  --theme-search-placeholder: var(--gray-light);
  --carousel-border: var(--black);
}

.default {
  --theme-divider: var(--white-dark);
  --theme-search-border: var(--gray-light);
  --carousel-border: var(--white);
  --theme-search-placeholder: var(--gray-darker);
  --theme-player-button-bg: var(--player-buttons-gradient);
  --theme-playlist-bg: var(--playlist-gradient-dark);

  --theme-top-songs-artists-divider: var(--white-dark);
  --theme-top-songs-artists-bg: var(--white-light);
  --theme-page-bg: var(--white);
  --theme-header-bg: var(--black-darker);
  --theme-header-search-bg: var(--white-light);
  --theme-player-bg: var(--white-lighter);
  --theme-text-title: var(--black);
  --theme-text-subtitle: var(--gray);
  --theme-text-light: var(--gray-lighter);

  /*Artist Navigation Items*/
  --theme-navigation-text-active: var(--black);

  /*Artist Line*/
  --theme-artist-line-section-bg: var(--gray-gradient);
  --theme-artist-line-albums-bg: var(--white-light);
  --theme-artist-line-corners-bg: var(--white-light);
}
