:root {
    --black-shadow: 0 30px 50px rgba(0, 0, 0, 0.2);

    --artist-line__icon-shadow: 0 18px 40px 3px rgba(0, 0, 0, 0.25);
    --artist-line__see-more-button-shadow: 0 0 20px #eee;
    --artist-line__albums-shadow: 0 60px 80px 0 rgba(0, 0, 0, 0.1);
    --artist-line__shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.1);

    --button-playlist-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.25);
    
    --related-artists__line-bg: rgba(238, 238, 238, 0.25);
    --related-artists-more-bg: rgba(255, 255, 255, 0.75); 
    
    --button-playlist-background-color: rgba(136, 136, 136, .85);

    --switch-shadow: 0 9px 20px 0 rgba(0, 0, 0, 0.3);

}
