:root {
  --black-darkest: #000;
  --black-darker: #232323;
  --black: #222;
  --black-lighter: #1e1e1e;
  --black-lightest: #353535;

  --gray-darkest: #444;
  --gray-darker: #666;
  --gray-dark: #707070;
  --gray: #888;
  --gray-light: #bbb;
  --gray-lighter: #aaa;
  --gray-lightest: #e8e8e8;

  --smoke-gray-light: #ccc;
  --metal-gray: #333;

  --white-dark: #ddd;
  --white: #eee;
  --white-light: #fafafa;
  --white-lighter: #f2f2f2;
  --white-lightest: #fff;

  --pink-darkest: #cd2156;
  --pink-darker: #d42562;
  --pink-dark: #d42361;
  --pink: #d92c61;

  --peach-darker: #e13a56;
  --peach-dark: #e24352;
  --peach: #e24d4d;
  --peach-light: #e26659;
  --peach-ligther: #dc7252;
}
