.reset {
    border: 0;
    height: 65px;
    padding: 10px 25px;
    color: var(--pink-darker);
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: var(--theme-page-bg);
}

.reset:focus {
    box-shadow: none;
    border-bottom: 2px solid var(--pink-darker);
}

.reset__icon {
    width: 24px;
    margin-right: 18px;
    vertical-align: middle;
}

@media only screen and (max-width: 500px) {
    .reset {
        font-size: 16px;
        padding: 0;
    }
}